@use '~bootstrap/scss/bootstrap' as b
@use "../mixins"

$spacer: b.$spacer

.page
  .position,
  .course
    display: inline-block
    color: hsl(var(--theme-color-h), var(--theme-color-s), calc(0.8 * var(--theme-color-l)))

  .time
    color: b.$gray-600

  ul
    list-style-type: disc

    &.no-indent
      padding-inline-start: 1em

  .contacts-container
    margin-right: calc(-1 * #{$spacer})
    backface-visibility: hidden

    @media screen
      +b.media-breakpoint-between(null, lg)
        margin-right: 0px

    & > .contact
      &:hover
        .badge
          &.has-link
            transform: scale(1.1)
            background-position-y: 60%

          &.has-link::after
            opacity: 1

      .badge::after
        +mixins.shadow-placeholder(50%, 0, calc(0.25 * var(--base-animation-time)))
        +mixins.natural-shadow(0.36, 0, 0.04, 0.2)

      .badge
        border: none
        background-color: var(--theme-color)
        font-size: 1.5em
        border-radius: 100%
        height: 2em
        width: 2em
        padding: 0
        display: inline-block
        transition: transform calc(0.25 * var(--base-animation-time)) ease-in-out
        transform: scale(1)

        svg
          height: 2em

      h3, h4
        font-size: 1.1em
        display: inline-block
