#app .header-component {
    height: 100%;

    & > .header-box {
        height: 290px;
        perspective: 256px;

        &:hover,
        &.init-animation {
            div.photo {
                transform: rotateX(0.5deg) scale(1.05);
                box-shadow: 0px 10px 44px -12px rgba(0, 0, 0, 100%);

                & > .shine {
                    background-position-y: 80%;
                }
            }

            div.header-bar {
                background-position-y: 80%;

                transform: rotateX(0.5deg) scale(1.05);
                box-shadow: 0px 10px 44px -12px rgba(0, 0, 0, 100%);
            }
        }

        div.photo {
            width: 290px;
            height: 290px;
            border-radius: 50%;
            border: 10px solid var(--theme-color);
            position: absolute;
            z-index: 1;
            background-color: $white;
            overflow: hidden;

            transition: all calc(0.5 * #{$base-animation-time}) ease-in-out;
            transform: rotateX(0) scale(1);
            transform-origin: 100% 100%;
            box-shadow: 0px 10px 16px -12px rgba(0, 0, 0, 100%);

            & > div {
                height: 100%;
                width: 100%;
                position: absolute;
                top: 0;
                left: 0;
            }

            & > .image {
                background-image: var(--photo);
                background-size: cover;
            }

            & > .shine {
                transition: all calc(0.5 * #{$base-animation-time}) ease-in-out;
                background: linear-gradient(
                0deg,
                transparent 0%,
                transparent 34%,
                rgba(255,255,255,10%) 36%,
                $white 80%
            );
                background-position-y: 100%;
                background-size: 100% 300%;
            }
        }

        div.header-bar {
            margin-left: 100px;
            width: calc(100% - 100px);
            color: white;
            position: relative;
            top: 20%;
            text-align: right;
            padding: $spacer;
            background-color: var(--theme-color);
            border-radius: 0.5em;
            background: linear-gradient(
                0deg,
                var(--theme-color) 0%,
                var(--theme-color) 32%,
                hsla(var(--theme-color-h), var(--theme-color-s), var(--theme-color-l), 0.90) 36%,
                rgba(0, 0, 0, 0%) 100%
            );

            transition: transform calc(0.5 * #{$base-animation-time}) ease-in-out,
                box-shadow calc(0.5 * #{$base-animation-time}),
                background-position-y calc(0.5 * #{$base-animation-time}) ease-in-out;
            background-position-y: 100%;
            background-size: 100% 300%;

            transform: rotateX(0) scale(1);
            box-shadow: 0px 10px 16px -12px rgba(0, 0, 0, 100%);

            & > p.name {
                font-size: 1.5em;
                text-transform: uppercase;
            }

            a {
                font-size: 1em;
                color: black;
                text-transform: uppercase;
                text-decoration: none;
            }
        }
    }
}
