@use '~bootstrap/scss/bootstrap' as b

$grid-breakpoints: b.$grid-breakpoints

#app > #cv-app
  @media screen and (prefers-reduced-motion: no-preference) and (min-width: map-get($grid-breakpoints, "xl"))
    .section-name.init-animation,
    .subsection-name.init-animation
      max-width: fit-content
      animation: section-max-width var(--base-animation-time) step-end 1 forwards 0.2s

      & > h2,
      & > h3
        white-space: nowrap
        display: inline-block

        width: 0.1%
        //this is to prevent webpack form cutting the %
        animation: section-underline-fill-underline calc(2 * var(--base-animation-time)) ease-in-out 1 forwards 0.2s

    .section-name.init-animation::after,
    .subsection-name.init-animation::after
      content: ''
      width: 100%
      transform-origin: left

      transform: scaleX(0)
      animation: section-underline-fill calc(2 * var(--base-animation-time)) ease-in-out 1 forwards 0.2s

    // Keyframe animations
    @keyframes section-max-width
      100%
        max-width: 100%

    @keyframes section-underline-fill
      50%
        transform: scaleX(0)
      100%
        transform: scaleX(1)

    @keyframes section-underline-fill-underline
      49.9%
        width: 100%
      50%
        width: auto
      100%
        width: auto

  // page transition
  &.fade-enter-from
    opacity: 0

  &.fade-enter-to
    opacity: 1

  &.fade-leave-from
    opacity: 1

  &.fade-leave-active
    transition: opacity calc(0.5 * var(--base-animation-time)) ease-in-out
    z-index: 10

  &.fade-leave-to
    opacity: 0
