$print-margin: 1.6cm

@media screen
    #header,
    #footer
        display: none

.new-section
    break-after: column

@media print
    $page-width: 210mm
    $page-height: 272mm

    :root
        --font-family-headings: var(--font-family-headings-print)

    @page
        size: $page-width $page-height
        margin: 0

    #footer
        position: fixed
        left: 0
        bottom: calc(2 / 3 * #{$print-margin})
        width: 100%
        text-align: center
        color: $gray-600

    html,
    body
        width: $page-width
        height: $page-height
        -webkit-print-color-adjust: exact

    .new-section,
    .new-page
        page-break-after: always
        break-before: column

    .new-page + *
        margin-top: $print-margin !important

    // overrides
    #app > .container
        padding: calc(3 * #{$spacer}) $print-margin 0 $print-margin

        .header-component
            div.header-bar
                filter: drop-shadow(0px 4px 6px rgba(0, 0, 0, 0.4))

            div.photo
                filter: drop-shadow(0px 4px 6px rgba(0, 0, 0, 0.4))

        .column-component
            .badge
                filter: drop-shadow(0px 2px 3px rgba(0, 0, 0, 0.4))
