@use 'sass:color';

:root {
    --theme-color: hsl(0, 0%, 100%);
    --theme-color-h: 0;
    --theme-color-s: 0%;
    --theme-color-l: 100%;

    --photo: url('~@/assets/logo.png');
}

$body-bg: white;
$font-family-base: 'Liberation Serif', 'Garamond';
$font-size-base: 0.85rem;

@import '~bootstrap/scss/bootstrap';
@import '~bootstrap-vue/src/index.scss';

@import 'typography';
@import 'layout';
@import 'animations';

@import 'components/header';
@import 'components/left-column';
@import 'components/right-column';

@import 'print';
